@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


/* variables */
:root {
    --primary-font: 'IBM Plex Sans', sans-serif;
    --btn-radius: 50px;
    --width-medium: 60px;
    --width-name-padding: 20px;
    --app-width: 1000px;

}

/* Default settings */
* {
    margin: 0;
    padding: 0;
}

/* Layout */
.page-container {
    width: var(--app-width);
    margin: auto;

}

body{
    background-color: #767676;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.channel-container {
    display: flex;
    padding: 10px;
}

.time-ruler{
    margin-left: auto;
    width: calc(var(--app-width) - 3*var(--width-medium) - 2*var(--width-name-padding));
}

.cursor{
    width: 5px;
    height: 100%;
    background-color: black;
    position: absolute;

}

.cursor.animationOn{
    animation-duration: 12.0s;
    animation-iteration-count: 1;
    animation-name: cursorAnimation;
    animation-timing-function: linear;
}

.cursor.animationOn.infiniteOn{
    animation-iteration-count: infinite;
}

@keyframes cursorAnimation {
    from{left:calc(3*var(--width-medium) + 2*var(--width-name-padding))}
    to{left:100%}
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-control {
    display: flex;
    justify-content: center;
}

.audio-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Typography */

.channel-container {
    font-family: var(--primary-font);
}

.channel-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--width-name-padding);
    font-size: 1.3rem;
    width: var(--width-medium);
}

.play-control button {
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

/* buttons styles */
button {
    cursor: pointer;
    padding: 10px;
    border-radius: var(--btn-radius);
}

/*Sliders and Switches style:*/

.switch {
    position: relative;
    display: inline-block;
    width: var(--width-medium);
    height: 34px;
    transform: translateY(17px);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* loop button */
#loop {
    position: absolute;
    transform: translateY(60px);
    border: solid black;
}

#loop h1 {
    position: relative;
    z-index: 1;
    color: rgba(0, 0, 0, 0.4)
}
